<header>
    <nav>
        <div>
            <img src="img/logo2.svg" alt="Law logo">
        </div>
        <ul>
            <li><a href="#">Practice areas</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Attorneys</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
    <div>
         <p>LAW FIRM</p>
         <h1>Use Our Effective Legal Expertise</h1>
         <p>We defend your rights and help you succeed.</p>
    </div>
    <div>
        <a href="#">Request a Quote</a>
        <a href="#">About us</a>
    </div>
</header>