<section class="our-team">
    <h2 class="our-team__title">
        our team
    </h2>
    <p class="our-team__text">Meet Our Attorneys</p>
    <p class="our-team__content">Our team consists of 15+ highly skilled attorneys.</p>
    <div class="our-team__cards">
        <article class="our-team__cards-item product">
            <h3 class="product__title">Jane Clarberg</h3>
            <p class="product__text">Managing Partner | 27 years of experience</p>
        </article>
        <article class="our-team__cards-item product">
            <h3 class="product__title">Jeff Mutson</h3>
            <p class="product__text">Senior Trial Attorney | 28 years of experience</p>
        </article>
        <article class="our-team__cards-item product">
            <h3 class="product__title">Ann Fisher</h3>
            <p class="product__text">Managing Partner | 12 years of experience</p>
        </article>
    </div>
    <div class="our-team__button">
        <a href="#" class="our-team__button-link">All Attorneys</a>
    </div>